In [66]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('salaries_by_college_major.csv')
# print(data)

In [6]:
data.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [10]:
data.isnull().any()

Undergraduate Major                  False
Starting Median Salary                True
Mid-Career Median Salary              True
Mid-Career 10th Percentile Salary     True
Mid-Career 90th Percentile Salary     True
Group                                 True
dtype: bool

In [15]:
data.shape

(51, 6)

In [18]:
data.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [16]:
data.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [11]:
data.isnull().sum()

Undergraduate Major                  0
Starting Median Salary               1
Mid-Career Median Salary             1
Mid-Career 10th Percentile Salary    1
Mid-Career 90th Percentile Salary    1
Group                                1
dtype: int64

In [19]:
clean_data = data.dropna()

In [20]:
clean_data.isnull().sum()

Undergraduate Major                  0
Starting Median Salary               0
Mid-Career Median Salary             0
Mid-Career 10th Percentile Salary    0
Mid-Career 90th Percentile Salary    0
Group                                0
dtype: int64

In [21]:
clean_data.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [22]:
clean_data["Starting Median Salary"]

0     46000.0
1     57700.0
2     42600.0
3     36800.0
4     41600.0
5     35800.0
6     38800.0
7     43000.0
8     63200.0
9     42600.0
10    53900.0
11    38100.0
12    61400.0
13    55900.0
14    53700.0
15    35000.0
16    35900.0
17    50100.0
18    34900.0
19    60900.0
20    38000.0
21    37900.0
22    47900.0
23    39100.0
24    41200.0
25    43500.0
26    35700.0
27    38800.0
28    39200.0
29    37800.0
30    57700.0
31    49100.0
32    36100.0
33    40900.0
34    35600.0
35    49200.0
36    40800.0
37    45400.0
38    57900.0
39    35900.0
40    54200.0
41    39900.0
42    39900.0
43    74300.0
44    50300.0
45    40800.0
46    35900.0
47    34100.0
48    36500.0
49    34000.0
Name: Starting Median Salary, dtype: float64

In [23]:
# max starting median salary
clean_data["Starting Median Salary"].max()

74300.0

In [26]:
# The College Major that earns that 
clean_data["Starting Median Salary"].idxmax()

43

In [28]:
clean_data.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

In [31]:
print(clean_data["Undergraduate Major"].loc[43])
print("---------------------------")
print(clean_data["Undergraduate Major"][43])

Physician Assistant
---------------------------
Physician Assistant

In [37]:
#-------------------------------
# Mid Career Salary
print(clean_data["Mid-Career Median Salary"].max())
print("------------------------------------------")
id = clean_data["Mid-Career Median Salary"].idxmax()
print(clean_data.loc[id])
print("---------------------")
print(clean_data["Undergraduate Major"].loc[id])

107000.0
------------------------------------------
Undergraduate Major                  Chemical Engineering
Starting Median Salary                            63200.0
Mid-Career Median Salary                         107000.0
Mid-Career 10th Percentile Salary                 71900.0
Mid-Career 90th Percentile Salary                194000.0
Group                                                STEM
Name: 8, dtype: object
---------------------
Chemical Engineering

In [ ]:
# We Use .min() and .xidxmin() for the minimal value

In [47]:
# Get the lowest risk salary by substracting 90th percentile with 10th percentile
# del clean_data["Risk"]
risk = clean_data["Mid-Career 90th Percentile Salary"].subtract(clean_data["Mid-Career 10th Percentile Salary"])
# The Insert method takes 3 positional arguments, 1 is which column should it be added, 2 is the column name, and 3 is the data set
clean_data.insert(1, "Risk", risk)

In [48]:
clean_data.columns

Index(['Undergraduate Major', 'Risk', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [57]:
highest_risk = clean_data.sort_values(by=['Risk'], ascending=False)
highest_risk[["Undergraduate Major", "Risk", 'Group']].head()

   Undergraduate Major      Risk     Group
17           Economics  159400.0  Business
22             Finance  147800.0  Business
37                Math  137800.0      STEM
36           Marketing  132900.0  Business
42          Philosophy  132500.0      HASS

In [56]:
# Highest Potential Salary
potential = clean_data.sort_values(by=["Mid-Career 90th Percentile Salary"], ascending=False)
print(potential[["Undergraduate Major","Mid-Career 90th Percentile Salary","Group"]].head())

     Undergraduate Major  Mid-Career 90th Percentile Salary     Group
17             Economics                           210000.0  Business
22               Finance                           195000.0  Business
8   Chemical Engineering                           194000.0      STEM
37                  Math                           183000.0      STEM
44               Physics                           178000.0      STEM

In [61]:
# USING Group By
grouped_data = clean_data.groupby(by=["Group"])
grouped_data.get_group("STEM")

,Undergraduate Major,Risk,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
6,Biology,98100.0,38800.0,64800.0,36900.0,135000.0,STEM
8,Chemical Engineering,122100.0,63200.0,107000.0,71900.0,194000.0,STEM
9,Chemistry,102700.0,42600.0,79900.0,45300.0,148000.0,STEM
10,Civil Engineering,84600.0,53900.0,90500.0,63400.0,148000.0,STEM
12,Computer Engineering,95900.0,61400.0,105000.0,66100.0,162000.0,STEM
13,Computer Science,98000.0,55900.0,95500.0,56000.0,154000.0,STEM
19,Electrical Engineering,98700.0,60900.0,103000.0,69300.0,168000.0,STEM
25,Geology,111000.0,43500.0,79500.0,45000.0,156000.0,STEM
30,Industrial Engineering,115900.0,57700.0,94700.0,57100.0,173000.0,STEM
31,Information Technology (IT),84500.0,49100.0,74800.0,44500.0,129000.0,STEM
35,Management Information Systems (MIS),100700.0,49200.0,82300.0,45300.0,146000.0,STEM
37,Math,137800.0,45400.0,92400.0,45200.0,183000.0,STEM
38,Mechanical Engineering,99300.0,57900.0,93600.0,63700.0,163000.0,STEM
43,Physician Assistant,57600.0,74300.0,91700.0,66400.0,124000.0,STEM
44,Physics,122000.0,50300.0,97300.0,56000.0,178000.0,STEM

In [64]:
# COUNT how many entries in one group
grouped_data["Undergraduate Major"].count()

Group
Business    12
HASS        22
STEM        16
Name: Undergraduate Major, dtype: int64

In [67]:
# Average Salary of each group
np.round(grouped_data["Mid-Career Median Salary"].mean(), decimals=2)

Group
Business    75083.33
HASS        62968.18
STEM        90812.50
Name: Mid-Career Median Salary, dtype: float64